* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: bisque;

}

h1 {
    margin: .5rem;

}

form {
    padding: 1rem; 

}
.quiz-item {
    text-align: left;
    padding: .5rem;
}

input, textarea, select {
    padding: .75rem;
    width: 350px; 
}


button {
    display: flex;
    justify-self: center;
    background-color: navy;
    color: white;
    display: block;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 10 10 .5 .5 gray;
    margin: 1rem 1rem 0;
}
code {
    display: block;
    color: white;
    padding: .5rem;
    background-color: black;
    margin: 5px auto;
    width: 50%
    
}

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 2rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}