:root {
    --dark-border: black;
    --dark-background: rgb(82, 54, 100);
    --light-background: rgb(234, 203, 238);
    --dark-font: black;
    --light-font: rgb(234, 203, 238);

}
nav {
    background-color: var(--dark-background);
    padding: 10px;
}
nav a {
    color: var(--light-font);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--dark-font);
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 2px solid var(--dark-border);
    padding: 5px;
    background-color: var(--light-background);
    color: var(--dark-font);
    text-align: center
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 2px solid var(--dark-border);
    text-align: center;
}